// Página de inicio
.carousel-item {
    height: 400px;
    background-size: cover;
    background-position: center;
  }
  
  .featured-products {
    display: flex;
    justify-content: space-between;
    margin-top: $spacing-unit * 2;
  }
  
  .product-card {
    background-color: #fff;
    padding: $spacing-unit;
    @include rounded();
    @include box-shadow(0px, 4px, 10px, rgba(0, 0, 0, 0.1));
    
    .product-title {
      font-size: 1.25*$font-size-base;
      color: $primary-color;
    }
  
    .product-price {
      color: $secondary-color;
      font-size: 1.2rem;
      margin-top: $spacing-unit;
    }
  
    .btn-buy {
      background-color: $secondary-color;
      color: white;
      padding: $spacing-unit;
      @include rounded();
    }
  }
  